<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="PythonFastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\users\ntubimd\appdata\local\programs\python\python38\python.exe|c:\users\ntubimd\appdata\local\programs\python\python38\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <defaultDocument>
            <files>
                <add value="app.app" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="true" />
    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="C:\web1\第11整合(伺服器1)\第11整合(伺服器1)" />
        <add key="WSGI_HANDLER" value="app.app" />
    </appSettings>
</configuration>
